*{
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}
div .div-item{
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 13rem;
    height: 20rem;
    /* Aca cambio el espacio entre las cartas */
    /* margin: 2% 1.5% 2% 1.5%; */
    /* padding: 0.5%; */
    box-shadow: 0 1rem 1rem  rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    overflow: hidden;
    z-index: 0;
}
.div-item > div{
    text-align: center;
    padding-bottom: -15px;
}
div .div-title {
    width: 100%;
    height: auto;
    font-size: 1.1rem;
    padding: 2% 0 2% 0;
    background: linear-gradient(180deg, #21c8f6 5%, #637bff 95%);
}
div .div-title h3{
    color: white;
    opacity: 0.6;
    font-weight: 600;
    letter-spacing: 0.015rem;
}
.div-img{
    display: flex;
    align-items: center;
    justify-content: center;
}
.div-img img{
    object-fit:contain;
    max-width: 100%;
    height: 100%;
}
.div-link a{
    color: rgba(0, 0, 0, 0.6);
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 1000;
}