*{
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}
.div-itemCategoryContainer{
    margin: 10% 1% 5% 1%;
    padding: 0 3% 0 3%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}