footer .div-footer{
    display: flex;
    flex-direction: column;
}
footer .div-footer .footer-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer .div-footer .footer-text{
    text-align: center;
}
footer .div-footer .footer-icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
footer .div-footer .footer-icons .footer-icons-self{
    margin-left: 20px;
}
footer .div-footer .footer-links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
footer .div-footer .footer-links .footer-links-self{
    display: flex;
    flex-direction: row;
}
footer .div-footer .footer-links .footer-links-self div a{
    text-decoration: none;
    margin-left: 20px;
}