body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@font-face {
  font-family: "Open Sans";
  src: local("OpenSans"),
  url(./fonts/OpenSans/OpenSans-VariableFont_wdth\,wght.ttf) format("truetype");
  font-weight: 370;
}
@font-face {
  font-family: "Open Sans Italic";
  src: local("OpenSans Italic"),
  url(./fonts/OpenSans/OpenSans-Italic-VariableFont_wdth\,wght.ttf) format("truetype");
}
