*{
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
    border: 0;
}
button{
    background: linear-gradient(180deg, #21c8f6, #637bff);
    padding: 0.6rem 1.2rem;
    border-radius: 2rem;
    box-shadow: 0 1rem 1.2rem rgba(0, 0, 0, 0.2);
    color: white;
}
.div-itemcount h5{
    opacity: 0.6;
    color: rgba(0, 0, 0, 0.8);
    font-size: 0.8rem;
    font-weight: bolder;
}
.div-itemcount{
    display: flex;
    flex-direction: row;
    margin: 0.5rem;
    align-items: center;
}
.div-itemcount .div-itemcount-buttons-add-dis{
    display: flex;
    flex-direction: row;
    align-content: space-around;
    align-items: center;
}
.div-itemcount-buttons-onadd{
    margin-left: 10px;
}
.div-itemcount div p{
    margin-left:10px;
    margin-right: 10px;
}